@model List<Urun>

    <a asp-action="Ekle" asp-controller="Home" asp-area="Admin" class="btn btn-primary btn-md my-2 float-end" >  Ekle  </a>

<table class="table table-sm table-bordered table-hover mt-2">
    <tr>
        <th>Id</th>
        <th>Resim</th>
        <th>Ad</th>
        <th>Fiyat</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Resim</td>
            <td>@item.Ad</td>
            <td>@item.Fiyat</td>
        </tr>
    }
</table>

