
<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryList")
    </div>
    <div class="col-md-9">
        @await Component.InvokeAsync("UrunList")
    </div>

</div>

